In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

In [3]:
from sqlalchemy import create_engine

In [4]:
engine=create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
df1=pd.read_csv("/Users/t0m08hr/Documents/data-engineering-zoomcamp/docker_sql/taxi+_zone_lookup.csv",nrows=100)

In [6]:
df1

    LocationID        Borough                       Zone service_zone
0            1            EWR             Newark Airport          EWR
1            2         Queens                Jamaica Bay    Boro Zone
2            3          Bronx    Allerton/Pelham Gardens    Boro Zone
3            4      Manhattan              Alphabet City  Yellow Zone
4            5  Staten Island              Arden Heights    Boro Zone
..         ...            ...                        ...          ...
95          96         Queens  Forest Park/Highland Park    Boro Zone
96          97       Brooklyn                Fort Greene    Boro Zone
97          98         Queens              Fresh Meadows    Boro Zone
98          99  Staten Island            Freshkills Park    Boro Zone
99         100      Manhattan           Garment District  Yellow Zone

[100 rows x 4 columns]

In [7]:
df_iter=pd.read_csv("/Users/t0m08hr/Documents/data-engineering-zoomcamp/docker_sql/taxi+_zone_lookup.csv",iterator=True,chunksize=100000)

In [8]:
df=next(df_iter)

In [9]:
df.head(n=0).to_sql(name='taxi_zone_lookup_data',con=engine,if_exists='replace')

0

In [10]:
%time df.to_sql(name='taxi_zone_lookup_data',con=engine,if_exists='append')

CPU times: user 13.5 ms, sys: 3.67 ms, total: 17.1 ms
Wall time: 139 ms

265

In [11]:
from time import time

In [12]:
while True:
    t_start=time()
    df=next(df_iter)
    df.to_sql(name='taxi_zone_lookup_data',con=engine,if_exists='append')
    t_end=time()
    print('inserted another chunk..., took %.3f second' %(t_end-t_start))

StopIteration:

In [13]:
print(pd.io.sql.get_schema(df,name='taxi_zone_lookup_data'))

CREATE TABLE "taxi_zone_lookup_data" (
"LocationID" INTEGER,
  "Borough" TEXT,
  "Zone" TEXT,
  "service_zone" TEXT
)